<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PetStoreSuite">

	<listeners>
		<listener class-name="api.utilities.ExtentReportManager" />		
	</listeners>

  <test name="TestPetAPIs">
    <classes>
      <class name="api.test.UserTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
